<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<h1>Criar Novo Setor</h1>
<!-- Link de Voltar -->
<a href="/admin/activities">Voltar</a><br>

<!-- Mensagens de erro e sucesso -->
<div th:if="${successMessage}" style="color: green;">
  <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" style="color: red;">
  <p th:text="${errorMessage}"></p>
</div>

<!-- Formulário -->
<form th:action="@{/admin/activities}" th:method="post" th:object="${ActivitiesModel}">

  <!-- Campo para nome do setor -->
  <label for="activityName">Nome do Exercicio:</label>
  <input type="text" id="activityName" name="activityName" th:value="*{activityName}" required />

  <!-- Exibe erro se houver -->
  <div th:if="${#fields.hasErrors('activityName')}" style="color: red;">
    <p th:each="err : ${#fields.errors('activityName')}" th:text="${err}"></p>
  </div>

  <label for="activityDescription">Descrição</label>
  <input type="text" id="activityDescription" name="activityDescription" th:value="*{activityDescription}" required />

  <!-- Exibe erro se houver -->
  <div th:if="${#fields.hasErrors('activityDescription')}" style="color: red;">
    <p th:each="err : ${#fields.errors('activityDescription')}" th:text="${err}"></p>
  </div>


  <button type="submit">Criar Exercicio</button>

</form>
</body>

</html>