<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <body>

    <h1>Meu Perfil</h1>

    <!-- Mensagens de erro e sucesso -->
    <div th:if="${successMessage}" style="color: green;">
      <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" style="color: red;">
      <p th:text="${errorMessage}"></p>
    </div>

    <!-- Informações do usuário -->
    <h2 th:text="'Nome: ' + ${user.userName}"></h2>
    <p th:text="'Email: ' + ${user.userEmail}"></p>
    <p th:text="'CPF: ' + ${user.userCpf}"></p>

    <!-- Exibir roles -->
    <h3 th:text="'Papel do usuário: ' + ${user.role.roleName.displayName}"></h3>

    <!-- Exibir CREEF se for Personal -->
    <div th:if="${personal != null}">
      <p th:text="'CREEF: ' + ${personal.personalCREEF}"></p>
    </div>


  <div class="actions-cell">

    <form th:action="@{/profile/change-password}" th:method="get" style="display: inline;">
      <button type="submit">Alterar Senha</button>
    </form>


    <form id="disableForm" th:action="@{/profile/disable-account}" th:method="post" style="display: inline;">
      <input type="hidden" name="confirmPassword" id="confirmPassword">
      <button type="button" onclick="confirmDisable()">Desativar Conta</button>
    </form>

  </div>

  <script>
    function confirmDisable() {
      const senha = prompt("Por favor, digite sua senha para confirmar:");

      if (senha !== null && senha.trim() !== "") {
        document.getElementById("confirmPassword").value = senha;
        if (confirm("Você tem certeza de que deseja desativar sua conta?")) {
          document.getElementById("disableForm").submit();
        }
      } else {
        alert("A senha é obrigatória para desativar a conta.");
      }
    }
  </script>


  </body>

</html>