<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <body>

    <h1>Meu Perfil</h1>

    <!-- Mensagens de erro e sucesso -->
    <div th:if="${successMessage}" style="color: green;">
      <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" style="color: red;">
      <p th:text="${errorMessage}"></p>
    </div>

    <!-- Informações do usuário -->
    <h2 th:text="'Nome: ' + ${user.userName}"></h2>
    <p th:text="'Email: ' + ${user.userEmail}"></p>
    <p th:text="'CPF: ' + ${user.userCpf}"></p>

    <!-- Exibir roles -->
    <h3 th:text="'Papel do usuário: ' + ${user.role.roleName.displayName}"></h3>

    <!-- Exibir CREEF se for Personal -->
    <div th:if="${personal != null}">
      <p th:text="'CREEF: ' + ${personal.personalCREEF}"></p>
    </div>

  </body>


</html>