<!-- src/main/resources/templates/layout.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GymTutor</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<!--  <link rel="stylesheet" href="/css/style.css">-->
  <style>
    body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.navbar {
    width: 20%; /* Navbar ocupa 20% da largura */
    padding: 20px;
    height: 100vh; /* Altura total da tela */
}

.content {
    width: 80%;
    padding: 20px;
}
  </style>
</head>
<body>

<!-- fragmento do navbar -->
<div class="navbar" th:insert="~{fragments/navbar :: navbar}"></div>

<!-- Conteudo geral -->
<div class="content" th:insert="~{${body}}"></div>

</body>
</html>