<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <body>

        <div th:fragment="navbar">
            <h1>Bem-vindo,</h1>
            <h2><span th:text="${LoggedUserName}">User</span>!</h2>

            <!-- Botão de logout -->
            <form th:action="@{/logout}" th:method="post" style="display: inline;">
                <button type="submit" onclick="return confirm('Você tem certeza de que deseja sair?')">Logout</button>
            </form>

            <div>
                <h2>Página Home</h2>
                <ul>
                    <li><a href="/home">Página Home</a></li>
                    <li><a href="/profile">Meu Perfil</a></li>
                </ul>
            </div>

            <div th:if="${LoggedUserRole.contains('ROLE_ADMIN')}">
                <h2>Seção do Administrador</h2>
                <ul>
                    <h3>Cadastros</h3>
                    <li><a href="/admin/activities"> Exercícios </a></li>
                </ul>
            </div>

            <!-- todo: confirmar se ele ira aparecer aqui mesmo KKKKK -->
            <div th:if="${LoggedUserRole.contains('ROLE_STUDENT')or LoggedUserRole.contains('ROLE_PERSONAL') or LoggedUserRole.contains('ROLE_ADMIN')}">
                <h2>Seção do Aluno</h2>
                <ul>
                    <h3>Treinos</h3>
                    <li><a href="/student/workoutplan">Ficha de treinos</a></li>
                </ul>
                <ul>
                    <li><a href="/student/workout">Treinos individuais</a></li>
                </ul>
            </div>


            <div th:if="${LoggedUserRole.contains('ROLE_PERSONAL') or LoggedUserRole.contains('ROLE_ADMIN')}">
                <h2>Seção do Personal</h2>
                <ul>
                    <!-- Adicione links conforme necessário -->
                </ul>
            </div>

        </div>

    </body>

</html>