<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<h1>Gerenciamento de Exercício - Adicionar Vídeos</h1>
<!-- Link de Voltar -->
<a href="/admin/activities">Voltar</a><br>

<!-- Mensagens de erro e sucesso -->
<div th:if="${successMessage}" style="color: green;">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<!-- Lista dos Usuarios -->
<a th:href="@{/admin/activities/{activitiesId}/videos/new(activitiesId=${activitiesId})}">Adicionar Novo Video</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome do video</th>
        <th>link </th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="video : ${videosList}">
        <td th:text="${video.videoId}"></td>
        <td th:text="${video.videoName}"></td>

        <td>
            <iframe th:if="${video.videoLink != null and video.videoLink.contains('v=')}"
                    th:src="'https://www.youtube.com/embed/' + ${#strings.substring(video.videoLink, video.videoLink.indexOf('v=') + 2)}"
                    width="200" height="113" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </td>

        <td class="actions-cell">
            <div class="actions-cell-row">
                <form th:action="@{/admin/activities/{activitiesId}/videos/{videoId}/edit(activitiesId=${activitiesId}, videoId=${video.videoId})}" th:method="get" style="display: inline;">
                    <button type="submit">Editar</button>
                </form>

                <form th:action="@{/admin/activities/{activitiesId}/videos/delete/{videoId}(activitiesId=${activitiesId}, videoId=${video.videoId})}" th:method="post" style="display: inline;">
                    <button type="submit" onclick="return confirm('Você tem certeza de que deseja excluir esta atividade?')">Excluir</button>
                </form>

            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>